.header-library {
  color: #ffffff;
  margin: 0;
  background-size: cover;
  background-position: center;
  height: 216px;

  background-image: url('../images/header/bglibrary-mobile.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/header/bglibrary-mobile@2x.jpg');
  }

  @media (min-width: 768px) {
    background-image: url('../images/header/bglibrary-tablet.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header/bglibrary-tablet@2x.jpg');
    }
  }

  @media (min-width: 1280px) {
    background-image: url('../images/header/bglibrary-desktop.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header/bglibrary-desktop@2x.jpg');
    }
  }
}

.library-btns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;

  margin-top: 40px;
  //   margin-bottom: 60px;
  padding-bottom: 60px;

  @media (min-width: 480px) {
    gap: 20px;
  }

  @media (min-width: 768px) {
    gap: 32px;
  }

  @media (min-width: 1200px) {
    gap: 16px;
  }
}

.library-btn {
  background: transparent;
  text-transform: uppercase;

  border: solid 1px #ffffff;
  border-radius: 5px;
  color: #ffffff;
  padding-block: 13px;
  cursor: pointer;

  @media (min-width: 480px) {
    width: 130px;
  }

  @media (min-width: 768px) {
    width: 152px;
  }

  @media (min-width: 1200px) {
    width: 148px;
  }
}
