.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(94, 99, 99, 0.8);
  overflow-y: auto;
  transition: opacity var(--transition-duration) var(--timing-function);
}
