<section class="library">
  <div class="container">
    <div class="nav">
      <!-- logo i nazwa po lewej stronie -->
      <div class="nav__logo">
        <a href="./index.html"
          ><img class="nav__image" src="./images/film-logo.png" alt="Logo "
        /></a>

        <a href="./index.html" class="nav__title"><span> Filmoteka</span> </a>
      </div>

      <!-- nawigacja home/library -->

      <nav class="navigation">
        <ul class="navigation__list">
          <li>
            <a class="navigation__item my-home" href="./index.html">Home</a>
          </li>
          <li>
            <a class="navigation__item active-library" href="./library.html"
              >My library</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="library__btns">
      <button class="library__btn" id="btn-watched">Watched</button>
      <button class="library__btn" id="btn-queue">Queue</button>
    </div>
  </div>
</section>
