<section class="library">
  <div class="container">
    <div class="nav">
      <div class="nav__logo">
        <a href="./index.html" class="nav__title"
          ><svg class="nav__icon">
            <use href="./images/icons.svg#icon-film"></use></svg
          ><span class="nav__text">Filmoteka</span></a
        >
      </div>
      <nav class="navigation">
        <ul class="navigation__list">
          <li>
            <a class="navigation__item my-home" href="./index.html">Home</a>
          </li>
          <li>
            <a
              id="myLibrary"
              class="navigation__item active-library"
              href="./library.html"
              >My library</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="library__btns">
      <button class="library__btn active-btn" id="btn-watched">Watched</button>
      <button class="library__btn" id="btn-queue">Queue</button>
    </div>
  </div>
</section>
