<div class="modal-students is-hidden" team-modal>
  <div class="modal-students-box">
    <h2 class="modal-students-title">Meet our team</h2>
    <ul class="modal-students-list">
      <li class="modal-students-item">
        <div class="modal-students-container">
          <img
            src="./images/team/DamianT.jpg"
            alt="Team Leader"
            class="modal-student-img"
          />
          <div class="modal-students-details">
            <h3 class="modal-student-name">Damian Tchorzewski</h3>
            <p class="modal-student-occupation">Team Leader</p>
          </div>
          <ul class="modal-student-soc-list">
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="mailto:damiantchorzewski0@gmail.com"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-envelop"></use>
                </svg>
              </a>
            </li>
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="https://github.com/damiantchorzewski"
                target="_blank"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="modal-students-item">
        <div class="modal-students-container">
          <img
            src="./images/team/BeniaminB.jpg"
            alt="Scrum Master"
            class="modal-student-img"
          />
          <div class="modal-students-details">
            <h3 class="modal-student-name">Beniamin Brzeziński</h3>
            <p class="modal-student-occupation">Scrum Master</p>
          </div>
          <ul class="modal-student-soc-list">
            <li class="modal-student-soc-item">
              <a class="modal-student-soc-link" href="mailto:benek9311@wp.pl">
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-envelop"></use>
                </svg>
              </a>
            </li>
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="https://github.com/benbrzezinski"
                target="_blank"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="modal-students-item">
        <div class="modal-students-container">
          <img
            src="./images/team/DagmaraS.jpg"
            alt="Developer"
            class="modal-student-img"
          />
          <div class="modal-students-details">
            <h3 class="modal-student-name">Dagmara Sobczak</h3>
            <p class="modal-student-occupation">Developer</p>
          </div>
          <ul class="modal-student-soc-list">
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="mailto:daga.sobczak@gmail.com"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-envelop"></use>
                </svg>
              </a>
            </li>
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="https://github.com/DagmaraSobczak"
                target="_blank"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="modal-students-item">
        <div class="modal-students-container">
          <img
            src="./images/team/DawidD.jpg"
            alt="Developer"
            class="modal-student-img"
          />
          <div class="modal-students-details">
            <h3 class="modal-student-name">Dawid Demkowicz</h3>
            <p class="modal-student-occupation">Developer</p>
          </div>
          <ul class="modal-student-soc-list">
            <li class="modal-student-soc-item">
              <a class="modal-student-soc-link" href="mailto:dakucp@gmail.com">
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-envelop"></use>
                </svg>
              </a>
            </li>
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="https://github.com/Ddemkowicz"
                target="_blank"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="modal-students-item">
        <div class="modal-students-container">
          <img
            src="./images/team/DorotaD.jpg"
            alt="Developer"
            class="modal-student-img"
          />
          <div class="modal-students-details">
            <h3 class="modal-student-name">Dorota Dudzik</h3>
            <p class="modal-student-occupation">Developer</p>
          </div>
          <ul class="modal-student-soc-list">
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="mailto:doradudzik@gmail.com"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-envelop"></use>
                </svg>
              </a>
            </li>
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="https://github.com/doradudzik"
                target="_blank"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="modal-students-item">
        <div class="modal-students-container">
          <img
            src="./images/team/EdytaS.jpg"
            alt="Developer"
            class="modal-student-img"
          />
          <div class="modal-students-details">
            <h3 class="modal-student-name">Edyta Sowa</h3>
            <p class="modal-student-occupation">Developer</p>
          </div>
          <ul class="modal-student-soc-list">
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="mailto:edytaasowa@gmail.com"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-envelop"></use>
                </svg>
              </a>
            </li>
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="https://github.com/EdytaSowa"
                target="_blank"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="modal-students-item">
        <div class="modal-students-container">
          <img
            src="./images/team/FilipG.jpg"
            alt="Developer"
            class="modal-student-img"
          />
          <div class="modal-students-details">
            <h3 class="modal-student-name">Filip Grzelak</h3>
            <p class="modal-student-occupation">Developer</p>
          </div>
          <ul class="modal-student-soc-list">
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="mailto:skomurlight@gmail.com"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-envelop"></use>
                </svg>
              </a>
            </li>
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="https://github.com/FilipGk"
                target="_blank"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="modal-students-item">
        <div class="modal-students-container">
          <img
            src="./images/team/FilipV.jpg"
            alt="Developer"
            class="modal-student-img"
          />
          <div class="modal-students-details">
            <h3 class="modal-student-name">Filip Vukić</h3>
            <p class="modal-student-occupation">Developer</p>
          </div>
          <ul class="modal-student-soc-list">
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="mailto:filipvukic90@gmail.com"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-envelop"></use>
                </svg>
              </a>
            </li>
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="https://github.com/FVuk"
                target="_blank"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="modal-students-item">
        <div class="modal-students-container">
          <img
            src="./images/team/FilipZ.jpg"
            alt="Developer"
            class="modal-student-img"
          />
          <div class="modal-students-details">
            <h3 class="modal-student-name">Filip Zieliński</h3>
            <p class="modal-student-occupation">Developer</p>
          </div>
          <ul class="modal-student-soc-list">
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="mailto:filip_zielinski@o2.pl"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-envelop"></use>
                </svg>
              </a>
            </li>
            <li class="modal-student-soc-item">
              <a
                class="modal-student-soc-link"
                href="https://github.com/Thebrefff"
                target="_blank"
              >
                <svg class="modal-student-soc-icon" width="20" height="20">
                  <use href="/src/images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <button class="modal-students-close-btn" team-modal-close></button>
  </div>
</div>
