.footer {
  background-color: var(--color-bg-sec);
  height: 100px;

  &__wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  &__copyright {
    font-size: var(--font-size-third);
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.17;

    &__copyright--underline {
      text-decoration: underline;
    }
  }

  &__developed {
    width: 236 px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
