.footer {
  background-color: var(--color-bg-sec);

  &__wrapper {
    width: 100px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__copyright {
    font-size: var(--font-size-third);
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.17;

    &__copyright--underline {
      text-decoration: underline;
    }
  }
}
