.library {
  color: var(--color-bg-main);
  margin: 0;
  background-size: cover;
  background-position: center;
  height: 216px;

  background-image: url('../images/header/bglibrary-mobile.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/header/bglibrary-mobile@2x.jpg');
  }

  @media (min-width: $tablet) {
    background-image: url('../images/header/bglibrary-tablet.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header/bglibrary-tablet@2x.jpg');
    }
  }

  @media (min-width: $laptop) {
    background-image: url('../images/header/bglibrary-desktop.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header/bglibrary-desktop@2x.jpg');
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
    margin-top: 40px;
    padding-bottom: 60px;

    @media (min-width: $tablet) {
      gap: 32px;
    }

    @media (min-width: $laptop) {
      gap: 16px;
    }
  }

  &__btn {
    background: transparent;
    text-transform: uppercase;
    border: solid 1px var(--color-bg-main);
    border-radius: var(--border-radius);
    color: var(--color-bg-main);
    padding-block: 12px;
    font-size: var(--font-size-main);
    cursor: pointer;

    padding-inline: 36px;
    width: 130px;

    @media (min-width: $tablet) {
      width: 152px;
      padding-inline: 46px;
    }

    @media (min-width: $laptop) {
      width: 148px;
      padding-inline: 41px;
    }

    transition-property: background-color, border-color, transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(---timing-function);

    &:hover,
    &:focus-visible {
      background-color: var(--color-accent-sec);
      border-color: var(--color-accent-sec);
      transform: scale(1.05);
    }
  }
}

.active-library::after {
  display: block;
  position: absolute;
  top: 17px;
  content: '';
  background-image: url(../images/icons.svg#rectangle-library);
  background-repeat: no-repeat;
  width: 69px;
  height: 3px;
  background-color: var(--color-accent-third);
}
