.container {
  max-width: 500px;
  @media (min-width: $tablet) {
    max-width: $tablet;
  }
  @media (min-width: $laptop) {
    max-width: $laptop;
  }

  width: 100%;
  margin: 0 auto;
  padding: 0 32px;

  @media (max-width: $tablet) {
    padding: 0 20px;
  }
}

.header {
  color: var(--color-text-sec);
  margin: 0;
  background-size: cover;
  background-position: center;
  height: 216px;

  background-image: url('../images/header/bghome-mobile.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/header/bghome-mobile@2x.jpg');
  }

  @media (min-width: $tablet) {
    background-image: url('../images/header/bghome-tablet.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header/bghome-tablet@2x.jpg');
    }
  }

  @media (min-width: $laptop) {
    background-image: url('../images/header/bghome-desktop.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header/bghome-desktop@2x.jpg');
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 49px;

  &__title {
    text-decoration: none;
    color: var(--color-text-sec);
    font-weight: var(--font-weight);
    font-size: var(--font-size-fourth);

    @media (max-width: $tablet) {
      display: none;
    }

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(---timing-function);

    &:hover {
      color: var(--color-accent-sec);
    }
  }

  &__image {
    display: block;
    margin-top: 5px;
    height: 24px;
    width: 23px;
  }

  &__logo {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
}

.navigation__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.navigation__item {
  position: relative;
  text-decoration: none;
  color: var(--color-text-sec);
  text-transform: uppercase;
  font-weight: var(--font-weight);
  font-size: var(--font-size-main);
  line-height: 1.2;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(---timing-function);

  &:hover {
    color: var(--color-accent-sec);
  }
}

.active-home::after {
  display: block;
  position: absolute;
  right: 0px;
  top: 17px;
  content: '';
  background-image: url(/src/images/icons.svg#rectangle-home);
  background-repeat: no-repeat;
  width: 34px;
  height: 3px;
  background-color: var(--color-accent-third);
}
.active-library::after {
  display: block;
  position: absolute;
  top: 17px;
  content: '';
  background-image: url(/src/images/icons.svg#rectangle-library);
  background-repeat: no-repeat;
  width: 69px;
  height: 3px;
  background-color: var(--color-accent-third);
}

.hidden {
  display: none;
}
