.modal {
  width: 280px;
  background-color: var(--color-bg-main);
  padding: 48px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  &__btn-close {
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--color-bg-main);
    position: absolute;
    right: 8px;
    top: 8px;
  }

  &__wrapper {
    width: 240px;
    margin-bottom: 20px;
  }
  &__img {
    border-radius: var(--border-radius);
    margin-bottom: 20px;
  }
  &__info {
    width: 240px;
  }
  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size-sec);
    line-height: calc(23 / 20);
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__list-box {
    width: 215px;
    display: flex;
    position: relative;
    gap: 40px;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__list-item:nth-child(3).modal__left {
    text-transform: uppercase;
  }
  &__list-right {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size-main);
    line-height: 16px;
    color: var(--color-text-third);
  }
  &__list-left {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size-main);
    line-height: 16px;
    color: var(--color-text-main);
  }
  &__list-vote {
    background-color: var(--color-accent-sec);
    color: var(--color-text-sec);
    padding: 1px 9.5px;
    border-radius: var(--border-radius);
  }
  &__list-slash {
    color: var(--color-text-third);
  }
  &__list-votes {
    background-color: var(--color-bg-sec);
    padding: 1px 9.5px;
    border-radius: var(--border-radius);
  }

  &__subtitle {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size-main);
    line-height: 16px;
    margin-bottom: 8px;
  }

  &__description {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size-main);
    line-height: 20px;
    overflow: auto;
  }

  &__btn-list {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: var(--border-radius);
    background: transparent;
    width: 110px;
    height: 44px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size-main);
    line-height: 16px;
    text-transform: uppercase;
    padding-inline: 6px;
    transition: background-color var(--transition-duration)
        var(--timing-function),
      color var(--transition-duration) var(--timing-function),
      border var(--transition-duration) var(--timing-function);

    &:hover {
      color: var(--color-text-sec);
      background-color: var(--color-accent-sec);
      border-color: var(--color-accent-sec);
    }
  }

  &__trailer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: $tablet) {
  .modal {
    width: 704px;
    padding: 40px 72px 40px 36px;
    display: flex;
    flex-direction: row;
    position: relative;

    &__wrapper {
      width: 264px;
      display: flex;
      margin-bottom: 0;
    }
    &__img {
      width: 100%;
      max-height: 374px;
      margin-right: 68px;
    }
    &__info {
      width: 264px;
    }

    &__list-box {
      width: 264px;
    }

    &__btn-wrapper {
      margin-left: 42px;
      margin-top: 316px;
    }

    &__btn {
      width: 125px;
    }

    &__btn-list {
      gap: 14px;
    }

    &__description {
      max-height: 80px;
      overflow: hidden;
      overflow-y: scroll;
    }
  }
}

@media screen and (min-width: $laptop) {
  .modal {
    width: 806px;
    padding: 40px 12px;

    &__wrapper {
      width: 375px;
    }
    &__img {
      width: 375px;
      height: 478px;
      max-height: 478px;
      margin-right: 16px;
      margin-bottom: 0;
    }
    &__info {
      width: 391px;
    }
    &__title {
      font-size: var(--font-size-fourth);
      line-height: calc(35 / 30);
    }

    &__list-box {
      width: 391px;
      gap: 86px;
    }

    &__btn-wrapper {
      margin-left: -30px;
      margin-top: 316px;
    }

    &__btn {
      width: 136px;
    }

    &__btn-list {
      gap: 15px;
    }
  }
}
