.modal {
  background-color: var(--color-bg-main);
  border-radius: var(--border-radius);
  padding: 48px 20px 40px 20px;
  position: relative;
  overflow-y: auto;

  @media screen and (max-width: 767px) {
    height: 95vh;
  }

  &__btn-close {
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--color-bg-main);
    position: absolute;
    right: 8px;
    top: 8px;
  }

  &__img {
    border-radius: var(--border-radius);
    margin-bottom: 20px;
  }

  &__info {
    width: 240px;

    @media screen and (min-width: $tablet) {
      max-height: 294px;
      overflow-y: auto;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size-sec);
    line-height: calc(23 / 20);
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__list-box {
    display: flex;
    position: relative;
    gap: 40px;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__list-item:nth-child(3).modal__left {
    text-transform: uppercase;
  }

  &__list-right {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size-main);
    line-height: 16px;
    color: var(--color-text-third);
  }

  &__list-left {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size-main);
    line-height: 16px;
    color: var(--color-text-main);
  }

  &__list-vote {
    background-color: var(--color-accent-sec);
    color: var(--color-text-sec);
    padding: 1px 9.5px;
    border-radius: var(--border-radius);
  }

  &__list-slash {
    color: var(--color-text-third);
  }

  &__list-votes {
    background-color: var(--color-bg-sec);
    padding: 1px 9.5px;
    border-radius: var(--border-radius);
  }

  &__subtitle {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size-main);
    line-height: 16px;
    margin-bottom: 8px;
  }

  &__description {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size-main);
    line-height: calc(20 / 12);

    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__btn-list {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-text-main);
    border-radius: var(--border-radius);
    background-color: var(--color-bg-main);
    width: 110px;
    height: 44px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size-main);
    line-height: 16px;
    text-transform: uppercase;
    padding-inline: 6px;
    transition: background-color var(--transition-duration)
        var(--timing-function),
      color var(--transition-duration) var(--timing-function),
      border var(--transition-duration) var(--timing-function);

    &:hover,
    &:focus-visible {
      color: var(--color-text-sec);
      background-color: var(--color-accent-sec);
      border-color: var(--color-accent-sec);
    }
  }

  &__btn-wrapper {
    @media screen and (min-width: $tablet) {
      position: absolute;
      bottom: 60px;
      right: 71px;
    }

    @media screen and (min-width: $laptop) {
      bottom: 100px;
      right: 85px;
    }
  }

  &__btn-trailer {
    display: block;
    text-align: right;
    width: 150px;
    padding-right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='30px' height='30px'%3E%3Cpath fill='%23FF3D00' d='M43.2 33.9c-0.4 2.1-2.1 3.7-4.2 4c-3.3 0.5-8.8 1.1-15 1.1c-6.1 0-11.6-0.6-15-1.1c-2.1-0.3-3.8-1.9-4.2-4C4.4 31.6 4 28.2 4 24c0-4.2 0.4-7.6 0.8-9.9c0.4-2.1 2.1-3.7 4.2-4C12.3 9.6 17.8 9 24 9c6.2 0 11.6 0.6 15 1.1c2.1 0.3 3.8 1.9 4.2 4c0.4 2.3 0.9 5.7 0.9 9.9C44 28.2 43.6 31.6 43.2 33.9z'/%3E%3Cpath fill='%23FFF' d='M20 31L20 17 32 24z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 8px center;
  }

  &__trailer {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: $tablet) {
  .modal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 704px;
    height: 510px;
    padding: 40px 72px 40px 36px;

    &__wrapper {
      display: flex;
      flex-direction: row;
    }

    &__img {
      min-width: 264px;
      max-height: 374px;
      margin-right: 68px;
      margin-bottom: 0;
    }

    &__btn-list {
      display: flex;
      gap: 15px;
    }

    &__btn:not(.modal__btn-trailer) {
      width: 125px;
    }

    &__info {
      width: 264px;
    }
  }
}

@media screen and (min-width: $laptop) {
  .modal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 806px;
    height: 558px;
    padding: 40px 12px;

    &__img {
      min-width: 375px;
      min-height: 478px;
      max-height: 478px;
      margin-right: 16px;
      margin-bottom: 0;
    }

    &__btn-list {
      display: flex;
      gap: 25px;
    }

    &__btn:not(.modal__btn-trailer) {
      width: 136px;
    }

    &__title {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: var(--font-weight);
      font-size: var(--font-size-fourth);
      line-height: calc(23 / 20);
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &__list-box {
      display: flex;
      position: relative;
      gap: 85px;
      margin-bottom: 20px;
    }

    &__info {
      width: 391px;
    }
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .modal {
    height: 95vh;
  }

  .modal__info {
    max-height: 254px;
  }

  .modal__btn-wrapper {
    bottom: -34px;
  }
}

@media screen and (min-height: 450px) and (orientation: landscape) {
  .modal {
    height: 510px;
  }

  .modal__info {
    max-height: 294px;
  }

  .modal__btn-wrapper {
    bottom: 60px;
  }
}

@media screen and (min-width: $laptop) and (orientation: landscape) {
  .modal {
    height: 558px;
  }

  .modal__btn-wrapper {
    bottom: 100px;
  }
}
