.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.pagination_wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 16px;
  cursor: pointer;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 16px;
  cursor: default;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgba(247, 247, 247, 0.1);
  border-radius: 5px;
  cursor: pointer;
  background: url('/src/images/arrow.svg') no-repeat center center;
  background-color: rgba(247, 247, 247, 0.2);
}

.btn:hover {
  transition: all 0.3s ease;
  // background: rgba(247, 247, 247, 0.7);
}

.next {
  rotate: 180deg;
}

.active {
  background-color: #ff6b08;
  color: #ffffff;
  width: 40px;
  height: 40px;
}
.number:hover {
  background-color: #ff6b08;
  transition: all 0.3s ease;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
