#pagination {
  height: 40px;
  margin: 0 0 60px;

  @media screen and (max-width: 434px) {
    height: 30px;
    margin: 20px 0 40px;
  }

  & .tui-page-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-main);
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius);
    border: none;
    transition-property: color, background-color, transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);

    @media screen and (max-width: 434px) {
      width: 30px;
      height: 30px;
    }

    &:hover:not(.tui-is-disabled),
    &:focus-visible:not(.tui-is-disabled) {
      color: var(--color-text-sec);
      background-color: var(--color-accent-main);
      transform: translateY(-3px);
    }
  }

  & .tui-is-selected {
    color: var(--color-text-sec);
    background-color: var(--color-accent-main);
    pointer-events: none;
  }

  & .tui-next {
    background-color: var(--color-bg-sec);
  }

  & .tui-prev {
    background-color: var(--color-bg-sec);
  }
}
